a{
    color:black;
    text-decoration: none;
}

body {
    background-color: rgb(220, 220, 220);
}
.header-box {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        border: 3px solid #1e90ff;
        border-radius: 12px;
        padding: 14px 40px;
        background: #fff;
        box-shadow: 0 4px 12px rgba(30, 144, 255, 0.25);
        font-size: 28px;
        font-weight: 700;
        color: #1e90ff;
        letter-spacing: 1.2px;
        user-select: none;
        z-index: 1000;
        white-space: nowrap;
        margin: 0;
      }
.container-catalog{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
}
article{
    width: 800px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 13px 15px 20px -4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 13px 15px 20px -4px rgba(34, 60, 80, 0.2);
    box-shadow: 13px 15px 20px -4px rgba(34, 60, 80, 0.2);
    padding: 15px;
}
.cover-image{
    width: 200px;
    height: 200px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}