{% extends 'base.html' %}

{% block content %}
    <div class="auth-form">
        <h1 class="form-title">Личный кабинет</h1>
        
        <div class="form-group">
            <p><strong>Логин:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
        
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Выйти</button>
        </form>
    </div>
{% endblock %}