<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин Электроник</title>
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
  <div class="header-box" role="banner" aria-label="Название магазина">
      Магазин электроник
    </div>
     <div class="block" role="region" aria-label="Блок 1">
      {% if user.is_authenticated %}
      <a href="{% url 'account' %}"><h2>Личный кабинет</h2></a>
      {% else %}
      <a href="{% url 'login' %}">Войти</a>
      <a href="{% url 'register' %}">Регистрация</a>
      {% endif %}
      
        
    </div>

    <div class="block" role="region" aria-label="Блок 2">
      <a href=""><h2>Корзина</h2></a>
        
    </div>

    <div class="block" role="region" aria-label="Блок 3">
      <a href="{% url 'catalog' %}"><h2>Каталог</h2></a>
        
    </div>
    {% block content %}{% endblock %}
</body>
</html>