{% extends 'base.html' %}
{% block content %}
    <h1 class="title_product">
        {{ product.title }}
    </h1>
    <div class="product_info">
        {% if product.image %}         
                <img src="{{ product.image.url }}" alt="">
                {% else %}
                    <div class =  'cover-image'> 
                        Нет изображения
                    </div>                                           
            {% endif %}
        <a href=""><img src="{{product.manufacturer.logo.url}}" alt=""></a>
        <form action="{% url 'push_basket' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="product" value = '{{ product.id }}'>
            <input type="submit" value="Добавить в корзину">
        </form>
        <h3>
            {{ product.price }} ₽
        </h3>
        <p>
            {{ product.desc }}
        </p>
        <h3>
            Страна производитель: {{ product.country }}
        </h3>
        <div class = "Charsblock">
            {% for label, value in product.chars.items %}
            <h4>
                {{ label }}: {{ value }}
            </h4>
            {% endfor %}
        </div>
    </div>


{% endblock %}