{% extends 'base.html' %}

{% block content %}
    <div class="auth-form">
        <h1 class="form-title">Регистрация</h1>
        
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div style="color: red; margin-top: 5px;">
                    {{ field.errors }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}